@model TestingSystem.Web.Areas.Admin.Data.TestEditModel

<div id="data" class="card col-7 p-4 mt-4 bg-white rounded mx-auto border-0 shadow-sm">
    <h2 class="text-center">Create test</h2>
    <hr />

    @Html.Partial("_StatusMessage")

    @using (Ajax.BeginForm("_Create", new AjaxOptions
    {
        HttpMethod = "Post",
        UpdateTargetId = "data",
        LoadingElementId = "loadingSettings",
        LoadingElementDuration = 200
    }))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label mb-2" })
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group py-3">
            @Html.LabelFor(model => model.TimeRequired, htmlAttributes: new { @class = "control-label mb-2" })
            <div>
                @Html.EditorFor(model => model.TimeRequired, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeRequired, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group py-3">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label mb-2" })
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <button type="submit" class="btn btn-primary d-block mt-3 w-25 mx-auto">Save</button>
    }
</div>