@model TestingSystem.Web.Areas.User.Data.UpdatePasswordModel

@using (Ajax.BeginForm("_UpdatePassword", new AjaxOptions { UpdateTargetId = "passwordData" }))
{
    @*@Html.HiddenFor(model => model.UserName)*@

    <div class="form-group border-top mt-3 py-3">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label mb-2" })
        <div>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label mt-3 mb-2" })
        <div>
            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.NewPasswordConfirm, htmlAttributes: new { @class = "control-label mt-3 mb-2" })
        <div>
            @Html.EditorFor(model => model.NewPasswordConfirm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewPasswordConfirm, "", new { @class = "text-danger" })
        </div>

        <small class="form-text text-muted mt-2">@TempData["PartialMessage"]</small>
        <button type="submit" class="btn btn-danger mt-3">Change Password</button>
    </div>
}