@model IEnumerable<TestingSystem.Web.Models.TestResultTableModel>

@foreach (var item in Model)
{
    <tr class="text-center">
        <td>
            @if (!string.IsNullOrWhiteSpace(item.UserFullName))
            {
                @Html.ActionLink(@item.UserFullName, "Index", "Home", new { area = "User", userId = item.UserId }, null)
            }
            else
            {
                @:unknown
            }
        </td>
        <td>
            @Html.DisplayFor(model => item.StartDateTime)
        </td>
        <td>
            @Html.DisplayFor(model => item.EndDateTime)
        </td>
        <td>
            @Html.DisplayFor(model => item.TotalCorrectAnswers)
        </td>
        <td>
            @Html.DisplayFor(model => item.CorrectAnswers)
        </td>
        <td>
            @Html.DisplayFor(model => item.CorrectPercent)
        </td>
    </tr>
}